<footer>
  <hr />
  <div>
    <div>
      <p>&copy; Copyright 2025 | Uploader Inc.</p>
      <p>Created by <a href="#">siaka.d</a></p>
      <p>
        Learning backend designing from
        <a href="https://theodinproject.com">The Odin Project</a>
      </p>
    </div>
    <div class="credits">
      <p>
        Empty folder image from
        <a href="https://drive.google.com/drive/home">Google drive</a>
      </p>
      <p>
        Files icons from and logo
        <a href="https://www.svgrepo.com/">SVG REPO</a>
      </p>
      <p>
        Buttons & links icon from
        <a href="https://pictogrammers.com/library/mdi/">Pictogrammers</a>
      </p>
    </div>
  </div>
</footer>
