/* styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* general styles */
body {
  font-family: 'Outfit', Helvetica, 'system-ui', sans-serif;
  background-color: rgb(43, 40, 40);
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 20px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main a {
  color: inherit;
}

a svg {
  width: 20px;
  height: 20px;
  fill: #25b6d2;
}

.share-link {
  color: #25b6d2;
}

.share-link + a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #25b6d2;
  margin-bottom: 50px;
  text-decoration: none;
}

.share-link + a:hover {
  text-decoration: underline;
}
