.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.upload-form {
  background-color: var(--secondary-color);
  width: 400px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 700px;
}

form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

input {
  height: 40px;
  background-color: var(--input-bkg-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0 10px;
  width: 100%;
}

form > button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 0;
  border-radius: 5px;
  width: 100%;
}

form > button:hover {
  filter: brightness(0.9);
}
